@import url(classic.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

/* Color/typeface based on http://www.microchip.com/about-us/contact-us */

body {
    padding: 0;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    color: #404040;
}